<div>
    <img src="/images/beer.png" alt="">

    <div>
        <form action="/beers">
            <input type="submit" value="Check the beers!" />
        </form>
    </div>

    <div>
        <form action="/random-beers">
            <input type="submit" value="Check a random beer!" />
        </form>
    </div>


</div>